*{
    padding: 0;
    margin: 0;
}

.top {
    box-sizing: content-box;
    height: 64px;
    background-color: #f4f4f4;
    justify-content: center;
    padding-top: 15px;
    
}

button {
    top: 32px;
    left: 95%;
    position: absolute;
    background-color: #4285f4;
    color: white;
    border-style: none;
    width: 70px;
    height: 35px;
    font-size: 14px;
    text-decoration: none;
    font-weight: 600;
    
    
}

.title {
    
    position: relative;
    font-size: 18px;
    color: blue;
    padding-bottom: 0;
}

.link{
    position: relative;
    font-size: 13px;
    color: green;
    padding: 1px;
}
.desc{
    position: relative;
    font-size: 13px;
    margin-bottom: 1.3em;
}

#results {
    font-size: 10px;
    color: gray;
}

ul {
    padding-left: 8.1%;
    background-color: #f4f4f4;
    font-size: 14px;
    list-style: none;
    display: flex;
    gap: 1.5rem;
    border-bottom: 1px solid #e6e6e6;
    color: rgb(36, 36, 36);
    padding-bottom: 0.5em;
    
}

.content {
    position: relative;
    left: 8%;
    max-width: 600px;
    box-sizing: content-box;
    top: 10px;
    
}

p {
    
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
    max-height: 20px;
}

img {
    float: left;
}

.content>p {
    font-family: Arial, sans-serif;

    
}
    
img {
    position: relative;
    left: 1rem;
    top: 0.9rem;
    
}

form {
    position: relative;
    left: 2rem;
    top: 1rem;
}

input {
    width: 568px;
    height: 34px;
    border: 1px solid #e6e6e6;
}

a {
    text-decoration: none;
    color: rgb(36, 36, 36);
    
}
a:visited {
    color: rgb(36, 36, 36);
}

#related {
    margin-top: 1em;
    font-size: 15px;
    position: relative;
    top: 7px;
    margin-bottom: 2em;

}

#footer>p{
    color: #727272;
    font-size: 14px;
    border-top: 1px solid #e6e6e6;
    padding-left: 8%;
    padding-bottom: 0.5em;
    background-color: #f4f4f4;
}