*{
    padding: 0;
    margin: 0;
}



.top {
    
    box-sizing: content-box;
    height: 64px;
    background-color: #f4f4f4;
    
    padding-top: 15px;
    
}

button {
    top: 32px;
    left: 95%;
    position: absolute;
    background-color: #4285f4;
    color: white;
    border-style: none;
    width: 75px;
    height: 33px;
    font-size: 14px;
    text-decoration: none;
    font-weight: 600;
    
    
}

.title {
    
    position: relative;
    font-size: 18px;
    color:  rgb(26, 13, 171);
    padding-bottom: 0;
}

.link{
    position: relative;
    font-size: 14px;
    color: #006621;
    padding: 1px;
}
.desc{
    position: relative;
    font-size: 13px;
    margin-bottom: 1.3em;
}

#results {
    font-size: 10px;
    color: gray;
}

ul {
    padding-left: 8.1%;
    background-color: #f4f4f4;
    font-size: 13px;
    list-style: none;
    display: flex;
    gap: 1.5rem;
    border-bottom: 1px solid #e6e6e6;
    color: rgb(109, 109, 109);
    padding-bottom: 0.5em;
    line-height: 2.5rem;
    
    
    
}

.content {
    position: relative;
    left: 8%;
    max-width: 600px;
    box-sizing: content-box;
    top: 10px;
    
}

p {
    
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
    max-height: 20px;
}

img {
    float: left;
}

.content>p {
    font-family: Arial, sans-serif;

    
}
    
img {
    position: relative;
    left: 1rem;
    top: 0.9rem;
    
}

form {
    position: absolute;
    left: 9rem;
    top: 2rem;
}

input {
    width: 32rem;
    height: 2rem;
    border: 1px solid #ebe8e8;
    box-shadow: #c7c7c7 0px 2px;
}

a {
    text-decoration: none;
    color: rgb(109, 109, 109);
    
}
a:visited {
    color: rgb(109, 109, 109);
}

#related {
    margin-top: 1em;
    font-size: 15px;
    position: relative;
    top: 7px;
    margin-bottom: 2em;
    

}

#footer>p{
    color: #727272;
    font-size: 14px;
    border-top: 1px solid #e6e6e6;
    padding-left: 8%;
    padding-bottom: 0.5em;
    background-color: #f4f4f4;
    word-spacing: 0.2em;
}

#navBar2{
    border-top: 1px solid #e6e6e6;
    padding-top: 5px;
}

#related>a{
    color: rgb(26, 13, 171);
}

li:hover{
    color: black;
}